<html>
    <body>
        <header>
            <h2>Talleres</h2>
            <h1>Eurocada</h1>
            <h2>Automoción</h2>
        </header>
        <main>
        Estimado/a [Nombre del Cliente],

        Queremos agradercerle el interes mostrado en relacion a los trabajos de chapa y pintura para los que usted ha solicitado presupuesto.

        Las partes de su vehiculo que desea pintar son:
        <ul>
            <li>capo</li>
            <li>maletero</li>
        </ul>

        Nuestros especialistas estan revisando su solicitud y responderan a la mayor brevedad

        </main>
        
        
        <footer>
            <p>Todos los derechos reservados, Eurocada <?php echo DATE('Y')?>&copy  </p>
        </footer>
        
    </body>

</html>