@use 'base/variables' as v;
@use 'base/mixins' as m;

.boton {
    @include m.boton(v.$azul, v.$amarillo);
}
.botonera {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include m.tablet {
        flex-direction: row;
    }
}