@use 'base/variables' as v;
@use 'base/mixins' as m;

header{
    display: flex;
    flex-direction: column;
    padding: 3.5rem 2.8rem 3.6rem 2.8rem;
    justify-content: center;
    align-items: center;
    background-color: v.$azul;
    gap: 0.4rem;
}
h1, h2{
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: 0.75rem;    
}
h1{
    color: v.$amarillo;
}
h2 {
    color: v.$blanco;
}