@use 'base/variables' as v;
@use 'base/mixins' as m;

.selector {
    position: relative;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
   
}
.selector--picture {
z-index: 0;
}

.selector--svg {
    align-items: start;
    display: flex;
    width: 100%;
 
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.selector--pieza {
    &:hover {
        fill: darken( v.$azul, 10% );
        fill-opacity: 30%;
        cursor: pointer;
    }
}
.selector--marcada {
    fill: darken( v.$azul, 20% );
    fill-opacity: 40%;
}
