@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: v.$blanco;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
.contenedor {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2.8rem;
    border-bottom: 1px solid v.$negro;
}
p {
    color: v.$negro;
}

li {
    list-style: none;
    line-height: 1.5;
}