@use 'variables' as v;
@use 'mixins' as m;

h1, h2, h3 {
    
}

h1 {
    font-size: 5rem;
}
h2 {
    
}
h3 {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3rem;
    text-align: center;
}
p, a {
    font-size: 1.6rem;
}
.text-center {
    text-align: center;
}
