@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 2rem;
    
        @include m.tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    
        @include m.desktop {
            grid-template-columns: repeat(4, 1fr);
        }
}
.galeria--imagen {
    cursor: pointer;
    picture {
        display: flex;
    }
    img{
        align-self: center;
        max-height: 15rem;
        height: auto;
        max-width: 20rem;
        width: auto;
        margin: 0 auto;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 12;
    height: 100%;
    width: 100;
    display: grid;
    place-items: center;
  
    background-color: rgb(0 0 0 /.5);
    
    picture {
      display: block;
      max-width: 90rem;
      margin: 0.5rem;
      img{
          
          max-height: 60rem;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  
  
  .botones {
    display: flex;
    gap: 3rem;
    position: fixed;
    left: calc(50% - 11.4rem);
    bottom: 10%;
  }
  .boton--gallery {
    background-color: darken(rgb(255,255,255) , 20%);
    border-radius: 50%;
    padding: 1rem;
    &:hover {
      background-color: rgb(255,255,255);
      cursor: pointer;
    }
  }