@use 'base/variables' as v;
@use 'base/mixins' as m;


.contenedor-hero {
  
  @include m.desktop {

    display: flex;
    justify-content:center ;
    img {
      margin: 0 auto;
      max-height: 60rem;
      width: auto;
    }
  }

}